body {
  color: #ababab;
}
header {
  position: relative;
  background: #1c1c1c;
}
#logo {
  float: left;
  padding: 30px 0 0 30px;
}
h1 {
  text-align: center;
  font-size: 40px;
  margin: auto;
  padding: 30px;
}
footer {
  padding: 50px;
  background: #1c1c1c;
}
p {
  font-size: 24px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#styled-by-id {
  font-family: georgia, Cambria, serif;
  font-weight: bold;
}
ul {
  list-style: none;
}
li {
  margin: 40ppx;
  padding: 5px;
  font-size: 20px;
}
nav ul {
  padding: 0;
}
.nav-link {
  display: inline-block;
  margin: 20px 0 0 -4px;
  border: 2px solid #ababab;
  padding: 15px 162.68px;
  background-color: #1c1c1c;
  color: #ababab;
  text-decoration: none;
}

.nav-link li {
  display: inline-block;
}
